<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SqLite3Swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>228366F01EF3FA6C000BB050</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>228367041EF3FA6C000BB050</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2283670F1EF3FA6C000BB050</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
